@model Tracker.Features.Events.Models.EventFieldsModel

@{
    ViewBag.Title = "Create event";
}

<h2>Edit event to @Model.PossibleRaids.First(x => x.Value == Model.RaidId.ToString()).Text</h2>


@using (Html.BeginForm())
{
    var counter = 0;
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="form-horizontal">
        <h4>Raid</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RaidId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RaidId, Model.PossibleRaids, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RaidId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RaidDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RaidDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.RaidDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Attendees, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="row">
                        <div class="col-md-3">
                            <h4>Character</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Attended</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>AFK Post</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Late</h4>
                        </div>
                    @*<table class="table">
                        <tr>
                            <th>Character</th>
                            <th>Attended</th>
                            <th>AFK Post</th>
                            <th>Late</th>
                        </tr>*@
                </div>
                @foreach (var attendee in Model.Attendees)
                {
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Hidden("Attendees[" + counter + "].Id", attendee.Id)
                            @Html.Hidden("Attendees[" + counter + "].CharacterId", attendee.CharacterId)
                            <strong>@attendee.Character</strong>
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("Attendees[" + counter + "].HasAttended", attendee.HasAttended, new { @class = "form-control24" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("Attendees[" + counter + "].HasAfkPost", attendee.HasAfkPost, new { @class = "form-control2" })
                        </div>
                        <div class="col-md-3">
                            @Html.CheckBox("Attendees[" + counter + "].IsLate", attendee.IsLate, new { @class = "form-control2" })
                        </div>
                    </div>

                    counter++;
                }
                @*</table>*@


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

    </script>
}
